<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.se.matchy">

    <application
        android:name=".MatchyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="donut">

        <!--Activities-->
        <activity
            android:name=".ui.home.ui.HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.survey.ui.SurveyActivity"
            android:parentActivityName=".ui.home.ui.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.matches.ui.MatchesActivity"
            android:parentActivityName=".ui.home.ui.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.ui.SignUpActivity"
            android:parentActivityName=".ui.auth.ui.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.ui.SignInActivity"
            android:parentActivityName=".ui.home.ui.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
